-if !@results.blank?
  %ul
    %li.header.grid_12
      %span.grid_1
        Name
      %span.grid_1
        Duration
      %span.grid_1
        Source Cam
      %span.grid_1
        Video Location
    -for video in @results
      %li.search_result.grid_12
        %a{:href => video_path(video)}
          %span.grid_1
            = video.name
          %span.grid_1
            = video.duration
          %span.grid_1
            = video.source_cam
          %span.grid_1
            = video.location

-else
  .grid_10
    No Results Found
