<script type="text/javascript" src="/jwplayer/jwplayer.js"></script>
<script type="text/javascript" src="/javascripts/coveTag.js"></script>

<script language="javascript">
	/* Init global variables */
	var timerDiv = "prog";
	var progressBar = "progbar";
	var activeTagDiv = "activeTags";
	var tagListDiv = "tagList";
	var statusLength = 10;
	var seekBack = 0.04;

	/* This would be populated by some server side deal */
	var activeTag = new Array(<%= @job.codes.length %>);
	<% @job.codes.each_index do |i| %>
		activeTag[<%= i %>] = ['<%= @job.codes[i].name %>', false];
	<% end %>
</script>

<h2>Tag all instances of Riffing</h2>

<div id="container">Loading the player ...</div>
<script type="text/javascript">
	jwplayer("container").setup({
		flashplayer: "/jwplayer/player.swf",
		file: "/<%= @job.videos.first.filepath %>",
		height: 270,
		width: 480,
		controlbar: "none",
		events: {
			onTime: function (event) {
				jwTimeHandler(event);
			},
			onComplete: function () { document.getElementById("progbar").innerHTML = "[COMPLETE]"; }
		}
	});
</script>

<div id="prog"></div>
<div id="progbar">[]</div>

<input type="button" value="Pause/Play" onclick="jwplayer('container').play();" />


<!--Hold to click:
<input type="button" id="tagbutton" value="Hold to tag riffing" onMouseDown="handleTagClick('Riffing');" onMouseUp="handleTagClick('Riffing');" onMouseOut="handleTagClick('Riffing', true);"  style="width: 300px; height: 150px;" /> -->

Push to toggle:
<input type="button" id="tagbutton_2" value="Click to Toggle Riffing" onClick="handleTagClick('Riffing');" />

<h3>Active Tags</h3>
<div id="activeTags" style="font-size: 32px; color: green;"></div>

<h3>Completed Tags</h3>
<div id="tagList">No Tags</div>
