.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

body {
	font-size: 0.8em;
	font-family: verdana;
	padding: 0px;
	margin: 0px;
	background: #334;
}

header {
	background: #fff;
	padding: 15px 0px 15px 0px;
	margin: 0px;
	border-bottom: 3px #fb9 solid; 
	background: #fff url('/images/black_grad_btm.png') top left repeat-x;
}

footer {
	/*background: #555578 url('/images/grad_top.png') top left repeat-x;*/
	background: #fff url('/images/grad_top.png') top left repeat-x;
	color: #000;
	font-size: 1.05em;
	text-align: center;
	padding: 20px 0px;
	position: relative;
	bottom: 0px;

}


/* a:link, a:visited, a:active {
	color: #1E90FF;
	text-decoration: none;
	padding: 5px 10px;
}*/

/*a:hover {
	color: #00FA9A;
	background: none;
	background: url('/images/triangle.png') bottom center no-repeat;
	padding-bottom: 20px
}*/

a.currPage {
	font-weight: bold;
}


.nav ul {
	list-style-type: none;
	margin: 0px;
}

.nav ul li {
	display: inline;
	margin-right: 10px;
}

.loginBar {
	text-align: right;
}

h2 {
	color: brown;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.6em;
	color: #8B4513;

}

div.logo {
	color: #000;
}

.container_12 ul.tags {
	list-style-type: none;
	float: right;
}
.container_12 ul.tags li {
	margin-bottom: 10px;
	padding: 10px 5px;
	background: #eee;
	text-align: center;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

p {
	margin-bottom: 10px;
}

b {
	color: #555;
}

div#middle {
	background: #334;
	/*background: #334 url('/images/grad_top.png') top left repeat-x;*/
	min-height: 550px;
}

div#graph {
	height: 300px;
	width: 480px;
	background: #eef;
	background-image: url('images/graph_bg.gif');
	margin-top: 20px;
	margin-bottom: 20px;
}

dt {
	font-weight: bold;
	color: #555;
	margin-bottom: 10px;
}

dd {
	padding-left: 20px;
	margin-bottom: 10px;
}

dl form dt {
	text-align: right;
}

.sButton {
	margin-left: 20px;
}

ul {
	list-style-type: none;
	margin-bottom: 20px;
}

li {
	margin-bottom: 10px;	
}

