body {
	font-size: 0.8em;
	font-family: verdana;
	padding: 0px;
	margin: 0px;
}

a {
	color: #1E90FF;
	text-decoration: none;
}

a.currPage {
	font-weight: bold;
}


.footer {
}

.footer p {
	text-align: center;
	font-size: 1.05em;
}

header {
	background: #334;
	padding: 15px 0px 15px 0px;
	margin: 0px;
	border-bottom: 3px #fb9 solid; 	
	color: #fff;
}

footer {
	background: #334;
	padding: 0px 0px 15px 0px;
	margin: 0px;
	border-top: 3px #fb9 solid; 	
	color: #fff;
}

.nav ul {
	list-style-type: none;
	margin: 0px;
}

.nav ul li {
	display: inline;
	margin-right: 20px;
}

.loginBar {
	text-align: right;
}

h2 {
	color: brown;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.3em;
	color: #8B4513;
}

.container_12 ul.tags {
	list-style-type: none;
	float: right;
}
.container_12 ul.tags li {
	margin-bottom: 10px;
	padding: 10px 5px;
	background: #eee;
	text-align: center;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

p {
	margin-bottom: 10px;
}

b {
	color: #555;
}

div#graph {
	height: 300px;
	width: 480px;
	background: #eef;
	background-image: url('images/graph_bg.gif');
	margin-top: 20px;
	margin-bottom: 20px;
}

dt {
	font-weight: bold;
	color: #555;
	margin-bottom: 10px;
}

dd {
	padding-left: 20px;
	margin-bottom: 10px;
}

dl form dt {
	text-align: right;
}

.sButton {
	margin-left: 20px;
}

ul {
	list-style-type: none;
	margin-bottom: 20px;
}

li {
	margin-bottom: 10px;	
}

div#middle {
  background: url('/images/grad_top.png') top left repeat-x;
  padding-top: 20px;
}

fieldset {
	border: 0px;
	padding: 0px;
}

input {
	margin: 0px;
}

ul.signUp {
	padding: 0px;
	margin-top: 40px;
}

ul.signUp li {
	margin-top: 20px;
}

ul.signUp li input {
	width: 460px;
}

ul.signUp li.button input.button {
}

ul.signUp li.button input.button {
	width: 200px;
	float: right;
}

a.link_button {
	padding: 5px 10px;
	background: #FFD700;
	display: inline block;
	-moz-border-radius: 15px;
    border-radius: 15px;
    color: #8B4513;
}

h3, h2 {
	margin: 10px 0px;	
}

ul.none {
	padding: 0px;
}

div.job_block {
	border-bottom: 1px solid #ccc;
}

div#filler_turk {
	background: url('/images/viking.jpg') left 40px no-repeat;
	min-height: 400px;
}




