<!--Index for videos-->
<div id="videos">  
  This should be the area for searching videos.
  <% @videos.each do |video| %>
    <div class="video">  
      <%= video_tag video.filepath.to_s %>  
      <div class="name"><%= video.name %></div>  
      <div class="actions">  
        <%= link_to "edit", edit_video_path(video) %> |  
        <%= link_to "remove", video, :confirm => 'Are you sure?', :method => :delete %>  
      </div>  
    </div>  
  <% end %>  
  <div class="clear"></div>  
</div>  


