%h2 Seed Certification Video

Apply the tag "#{@certification.tag.name}" to the video below. Your tags will be used as a reference for turks to pass the certification test for this tag. 

= render :partial => "shared/turk_player"

= link_to 'Done', post_seed_certification_video_path(@certification_video)
= link_to 'Cancel', tag_path(@certification.tag)