= render 'tag_search_form'
-if !@results.blank?
  %table
    %thead
      %tr
        %th.name
          Name
        %th.duration
          Duration
        %th.source_cam
          Source Camera
        %th.location
          Location
      %tbody
        -for result in @results
          - video = result.video
          = render :partial => 'individual_result', :locals => {:video => video}

-else
  .grid_10
    No Results Found
   
  
